@font-face {
    font-family: "HarmonyOS Sans SC Regular";
    src: url('https://github.com/lingtian152/font/raw/main/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans SC Bold";
    src: url('https://github.com/lingtian152/font/raw/main/HarmonyOS_Sans_SC_Bold.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans SC Medium";
    src: url('https://github.com/lingtian152/font/raw/main/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans Regular";
    src: url('https://github.com/lingtian152/font/raw/main/HarmonyOS_Sans_Regular.ttf');
}
