@font-face {
    font-family: "HarmonyOS Sans SC Regular";
    src: url('./fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans SC Bold";
    src: url('./fonts/HarmonyOS_Sans_Bold.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans SC Medium";
    src: url('./fonts/HarmonyOS_Sans_Medium.ttf');
}

@font-face {
    font-family: "HarmonyOS Sans Regular";
    src: url('./fonts/HarmonyOS_Sans_Regular.ttf');
}
